//! **************************************************************************
// Written by: Map P.20131013 on Thu Apr 04 14:04:30 2019
//! **************************************************************************

SCHEMATIC START;
COMP "clk_out" LOCATE = SITE "M5" LEVEL 1;
COMP "reset" LOCATE = SITE "P11" LEVEL 1;
COMP "clk_in" LOCATE = SITE "B8" LEVEL 1;
NET "clk_in_BUFGP/IBUFG" BEL "clk_in_BUFGP/BUFG.GCLKMUX" USELOCALCONNECT;
SCHEMATIC END;

